.button {
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-align: center;

  &--search {
    width: 284px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
