.emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.emotions__text {
  background-color: @light-grey;
  border: none;
  width: 280px;
  padding: 20px;
  box-sizing: border-box;
}

.emotions__text::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
