.gallery {
  padding-top: 30px;
  padding-bottom: 17px;
}
.gallery__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.gallery__discription {
  text-transform: uppercase;
}
