.hotel-search__title {
  margin-top: 39px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search__description {
  margin-bottom: 32px;
  text-transform: uppercase;
}

.hotel-search__button {
  margin-bottom: 49px;
}
