.intro__logo {
  background-image: url("/Users/olga/2068051-sedona-26/source/img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-color: #2d1468;
  padding: 90px 19px 85px;
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
