.intro__logo {
  background-image: url("/img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-color: #2d1468;
  padding: 90px 19px 85px;
  position: relative;
}

.intro__logo::after {
  position: absolute;
  background-image: url("/img/icons/intro-triangle.svg.svg");
  content: "";
  width: 320px;
  height: 57px;
  bottom: 0;
  left: 0;
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .intro__logo {
    background-image: url("/img/back-desktop.jpg.jpg");
    background-repeat: no-repeat;
  }
  .intro__logo::after {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .intro__title {
    margin-left: 358px;
    margin-right: 359px;
  }
  .intro__logo {
    background-image: url("/img/back-desktop.jpg");
    background-repeat: no-repeat;
  }
  .intro__logo::after {
    width: 1200px;
    background-image: url("img/icons/intro-triangle.svg");
    content: "";
    height: 57px;
    bottom: 0;
    left: 0;
  }
}
