.main-form__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-form__label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  margin-top: 16px;
}

.main-form__input {
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  background-color: @light-grey;
  border: none;
}

.main-form__input::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}
