.oppinion {
  border: none;
}

.oppinion__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.oppinion__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
