@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

.page__body {
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
