.page__body {
  min-height: 100%;
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: @white;
  color: #000000;
  text-align: center;
  margin: 0;
  @media (min-width: @tablet-width) {
    width: 768px;
  }
}
