// .advantages {
//   counter-set: advantage;
// }

.advantages__list {
  counter-set: advantage;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  padding: 21px 20px 37px 15px;
  box-sizing: border-box;

  &--town {
    padding-top: 47px;
    padding-bottom: 40px;
  }

  @include mobile-width-only {
    width: 100%;
  }

  @include tablet {
    padding: 32px;
    width: 256px;
    min-height: 256px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 17px;
  }

  @include desktop {
    padding-top: 26px;
  }

  &--places {
    background-color: $seconadary-back;
    padding: 7px 30px 27px 32px;

    @include tablet {
      padding: 19px 47px 27px 49px;
    }

    @include desktop {
      padding: 19px 52px 27px 49px;
    }
  }

  &--order::before {
    display: block;
    counter-increment: advantage;
    content: "— №" counter(advantage) " —";
    order: 2;
    margin-bottom: 17px;
  }

  &--live,
  &--food,
  &--gift {
    position: relative;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 10px;

    @include tablet {
      padding-top: 128px;
      padding-right: 32px;
    }

    @include desktop {
      padding-right: 52px;
      padding-left: 50px;
    }
  }

  &--live::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 75px;
      height: 72px;
      background-size: cover;
      left: 35%;
      top: 18%;
    }

    @include desktop {
      left: 40%;
    }
  }

  &--food::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 76px;
      height: 68px;
      background-size: cover;
      left: 35%;
      top: 18%;
    }

    @include desktop {
      left: 40%;
    }
  }

  &--gift::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 64px;
      height: 75px;
      background-size: cover;
      left: 36%;
      top: 17%;
    }

    @include desktop {
      left: 42%;
    }
  }
}

.advantages__container {
  display: flex;


  &--bridge {
    background-color: $basic-back;
    color: #ffffff;
    margin: 0;

    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &--city {
    position: relative;
    background-color: $basic-back;
    color: #ffffff;
    margin: 0;

    &::before {
      @include mobile-width-only {
        position: absolute;
        background-image: url("/img/triangle-index.svg");
        content: "";
        width: 767px;
        height: 37px;
        bottom: 0;
        left: 0;
        top: -5px;
      }
    }
  }
}

.advantages__container-food-etc {
  padding: 0 8px 52px 50px;
  list-style: none;
  text-align: left;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    height: 330px;
    // padding-right: 31px;
    // padding-left: 36px;
  }
}

.advantages__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  order: 1;
  margin-bottom: 10px;

  @include tablet {
    font-size: 21px;
    margin-bottom: 13px;
  }

  @include desktop {
    margin-left: 70px;
    margin-right: 70px;
  }
}

.advantages__description {
  text-transform: uppercase;
  order: 2;
  margin: 0;

  @include tablet {
    margin-top: 7px;
  }

  &--additional {
    margin-top: 7px;
    margin-bottom: -7px;

    @include tablet {
      margin-top: 10px;
    }
  }
}

.advantages__description br,
.advantages__title br {
  @include mobile-width-only {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
  }
}

.advantages__picture {
  display: block;
  width: 100%;
  object-fit: cover;

  @include tablet {
    width: 512px;
    height: 256px;
  }

  @include desktop {
    width: 800px;
  }
}

@include tablet {
  .advantages__item--city,
  .advantages__item--bridge {
    display: flex;
    width: 768px;
  }
}

@include desktop {
  .advantages__item {
    width: 400px;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    width: 1200px;
  }
}

.advantages__wrap-city,
.advantages__wrap-bridge {
  width: 100%;
}
