// .advantages {
//   counter-set: advantage;
// }

.advantages__list {
  counter-set: advantage;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages__item {
  &--city {
    background-color: $basic-back;
    color: #ffffff;
    margin: 0;
  }
  &--bridge {
    background-color: $basic-back;
    color: #ffffff;
    margin: 0;
  }
  &--places {
    background-color: $seconadary-back;
  }
  &--order::before {
    display: block;
    counter-increment: advantage;
    content: "— №" counter(advantage) " —";
    order: 2;
  }
  &--live,
  &--food,
  &--gift {
    position: relative;
  }
  &--live::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-house.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;
  }

  &--food::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-burger.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;
  }
  &--gift::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-gift.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;
  }
}

.advantages__container-food-etc {
  padding: 23px 18px 52px 65px;
  list-style: none;
  text-align: left;
}
.advantages__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  order: 1;
}

.advantages__description {
  // font-weight: 700;
  text-transform: uppercase;
  order: 2;
}

@include tablet {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 256px;
    min-height: 256px;
    padding-top: 42px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    display: flex;
    width: 768px;
  }

  .advantages__picture {
    width: 512px;
    height: 256px;
  }

  .advantages__container-food-etc {
    display: flex;
    text-align: center;
    padding-right: 31px;
    padding-left: 36px;
  }

  .advantages__item--live::before {
    width: 75px;
    height: 75px;
    left: 41%;
    top: 21%;
  }
}

@include desktop {
  .advantages__item {
    width: 400px;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    width: 1200px;
  }
}
