// .advantages {
//   counter-set: advantage;
// }

.advantages__list {
  counter-set: advantage;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  padding: 24px 41px;

  @include tablet {
    width: 33.3%;
    padding: 32px;
    width: 256px;
    min-height: 256px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &--city {
    position: relative;
    background-color: $basic-back;
    color: #ffffff;
    margin: 0;

    &::before {
      @include mobile-width-only {
      position: absolute;
      background-image: url("/img/icons/triangle-index.svg");
      content: "";
      width: 320px;
      height: 37px;
      bottom: 0;
      left: 0;
      top: -5px;
      }
    }
  }

  &--bridge {
    background-color: $basic-back;
    color: #ffffff;
    margin: 0;
    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &--places {
    background-color: $seconadary-back;
  }

  &--order::before {
    display: block;
    counter-increment: advantage;
    content: "— №" counter(advantage) " —";
    order: 2;
  }

  &--live,
  &--food,
  &--gift {
    position: relative;

    @include tablet {
      padding-top: 158px;
    }
  }

  &--live::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-house.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;

    @include tablet {
      width: 75px;
      height: 72px;
      background-size: cover;
      left: 35%;
      top: 20%;
    }
  }

  &--food::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-burger.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;

    @include tablet {
      width: 76px;
      height: 68px;
      background-size: cover;
      left: 35%;
      top: 20%;
    }
  }
  &--gift::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-gift.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;

    @include tablet {
      width: 64px;
      height: 75px;
      background-size: cover;
      left: 35%;
      top: 20%;
    }
  }
}

.advantages__container-food-etc {
  padding: 23px 18px 52px 65px;
  list-style: none;
  text-align: left;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    height: 330px;
    // padding-right: 31px;
    // padding-left: 36px;
  }
}

.advantages__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  order: 1;
}

.advantages__description {
  // font-weight: 700;
  text-transform: uppercase;
  order: 2;
  margin: 0;
}

.advantages__picture {
  @include tablet {
    width: 512px;
    height: 256px;
  }

  @include desktop {
    width: 800px;
  }
}

@include tablet {

  .advantages__item--city,
  .advantages__item--bridge {
    display: flex;
    width: 768px;
  }
}

@include desktop {
  .advantages__item {
    width: 400px;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    width: 1200px;
  }
}
