.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: $basic-back;
  color: $additional-color-text;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 14px;
  cursor: pointer;

  &:hover {
    background-color: $basic-back-hover;
  }

  &:active {
    background-color: $basic-back-active;
  }

  &--search {
    width: 284px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

    @include tablet {
      width: 458px;
      padding-top: 14px;
      padding-bottom: 17px;
    }
  }

  &--modal-error {
    font-size: 18px;
    padding-right: 64px;
    padding-left: 63px;
    width: 180px;

    @include tablet {
      width: 272px;
    }
  }

  &--modal-success {
    font-size: 18px;
    width: 280px;
    padding-right: 65px;
    padding-left: 60px;

    @include tablet {
      width: 458px;
      font-size: 21px;
    }
  }
}


