.card {
  @include mobile-width-only {
    padding: 23px 20px 23px;
    border-bottom: 1px solid $decoration-color;
  }

  &:first-child {
    @include mobile-width-only {
      border-top: 1px solid $decoration-color;
    }
  }
}
.card__photo {
  width: 100%;
  object-fit: cover;

  @include tablet {
    display: block;
    height: 267px;
    &--main {
      height: 400px;
    }
  }
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;

  @include tablet {
    padding-top: 0;
  }
}

.card__link {
  text-decoration: none;
  color: inherit;
}

.card__author {
  color: $secondary-text;
  margin: 0;
  @include desktop {
    color: $additional-color-text;
  }
}

.card__info-container {
  @include tablet {
    background-color: $inputs-color;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;
  }

  @include desktop {
    position: absolute;
    background-color: rgba($basic-text, 0.3);
    color: $additional-color-text;
    bottom: 80px;
    width: 100%;
    box-sizing: border-box;
  }
}

.card__button {
  display: block;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.card__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__like-container {
  display: flex;
  padding-top: 15px;
  align-items: center;

  @include tablet {
    padding-top: 0;
  }
}

.card__button-icon {
  fill: rgba($basic-text, 0.3);

  @include desktop {
    fill: $additional-color-text;
  }
}

.card__results {
  margin: 0;
  font-weight: 700;
}
