.contacts-details__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contacts-details__label {
  display: block;
  text-transform: uppercase;
  text-align: left;
  padding-left: 16px;
  margin-top: 16px;
}

.contacts-details__input {
  width: 280px;
  background-color: $inputs-color;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border: none;
  box-sizing: border-box;

  &--phone {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-color: #E6E6E6;
      background-image: url("../img/icons/phone-icon.svg");
      background-repeat: no-repeat;
      width: 58px;
      height: 58px;
    }
  }

  &--email {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: #E6E6E6;
      background-image: url("../img/icons/email-icon.svg");
      background-repeat: no-repeat;
      width: 58px;
      height: 58px;
    }
  }
}

.contacts-details__input::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
