
.copyright__text {
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $basic-text;
  margin-left: 10px;

  @include tablet {
    margin-left: 6px;
  }


  &:hover {
    color: $basic-back;
  }

  &:active {
    color: #b3b3b3;
  }
}

