.emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: -4px;
  margin-top: 0;
  text-transform: uppercase;

  @include tablet {
    margin: 4px auto 20px;
    font-size: 21px;
  }
}

.emotions__text {
  background-color: $inputs-color;
  border: none;
  width: 280px;
  font: inherit;
  box-sizing: border-box;
  padding: 15px 17px 9px;

  @include tablet {
    width: 648px;
    padding: 15px 16px 18px;
    margin-top: 9px;
    font-weight: 700;
  }

  @include desktop {
    width: 768px;
  }
}

.emotions__text::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

