.emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.emotions__text {
  background-color: $inputs-color;
  border: none;
  width: 280px;
  font: inherit;
  box-sizing: border-box;
  padding: 15px 17px 9px;

  @include tablet {
    width: 648px;
  }

  @include desktop {
    width: 768px;
  }
}

.emotions__text::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

