.gallery {
  padding-top: 30px;
  // padding-bottom: 17px;

  @include tablet {
    padding-top: 62px;
  }
  @include desktop {
    padding: 0;
    padding-top: 102px;
  }
}

.gallery__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto 24px;

  @include tablet {
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery__discription {
  text-transform: uppercase;
  color: $secondary-text;
  margin-bottom: 46px;
  margin-left: 20px;
  margin-right: 20px;

  @include tablet {
    margin-bottom: 85px;
    padding-left: 90px;
    padding-right: 90px;
  }

  @include desktop {
    margin-bottom: 84px;
    padding-left: 377px;
    padding-right: 376px;

  }
}

.gallery__discription br {
  display: none;
}
.gallery__list {
  padding-left: 0;
  list-style-type: none;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin: 0;
  }
}

.gallery__item:first-child {
  @include tablet {
    grid-column: 1 / -1;
  }
}

.gallery__item {
  @include tablet {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  @include desktop {
    position: relative;
  }
}
