.gallery {
  padding-top: 30px;
  padding-bottom: 17px;

  @include tablet {
    padding-top: 62px;
  }
  @include desktop {
    padding: 0;
    padding-top: 102px;
  }
}

.gallery__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;

  @include tablet {
    margin-bottom: 30px;
  }
}

.gallery__discription {
  text-transform: uppercase;
  color: $secondary-text;

  @include tablet {
    margin-bottom: 87px;
    padding-left: 95px;
    padding-right: 95px;
  }

  @include desktop {
    padding-left: 370px;
    padding-right: 370px;
  }
}

.gallery__list {
  padding-left: 0;
  list-style-type: none;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

  .gallery__item:first-child {

    @include tablet{
    grid-column: 1 / -1;
  }
}
