.intro__wrapper {
  padding: 32px 20px;
  position: relative;
}

.intro__advatages-text {
  text-transform: uppercase;
}

.intro__logo {
  background-image: url("/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d1468;
  padding: 90px 19px 85px;
  position: relative;

  // @media (min-resolution: 2dppx) {
  //   background-image: url("/img/back-mobile@2x.jpg");
  // }

  @include tablet {
    order: 2;
    height: 290px;
    background-image: url("/img/back-tablet.jpg");
    padding: 0;

    // @media (min-resolution: 2dppx) {
    //   background-image: url("/img/back-tablet@2x.jpg");
    //   background-size: 1200px auto;
    // }
  }

  @include desktop {
    background-image: url("/img/back-desktop.jpg");
    height: 301px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/back-desktop@2x.jpg");
      background-size: 1200px auto;
      background-position: 0 -55px;
    }
  }
}


.intro__logo::after {
  position: absolute;
  background-image: url("/img/icons/intro-triangle-mobile.svg");
  content: "";
  width: 320px;
  height: 57px;
  bottom: 0;
  left: 0;
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.intro__logo-image {
  @include tablet {
    width: 457px;
    height: 77px;
    padding-top: 95px;
    padding-bottom: 117px;
  }
}

@include tablet {
  .intro__logo::after {
    background-image: url("/img/icons/intro-triangle-tablet.svg");
    width: 768px;
  }
}

@include desktop {
  .intro__title {
    margin-left: 358px;
    margin-right: 359px;
  }

  .intro__logo::after {
    position: absolute;
    width: 1200px;
    background-image: url("/img/icons/intro-triangle.svg");
    content: "";
    height: 57px;
    bottom: 0;
    left: 0;
  }
}
