.main-footer__visit {
  margin-top: 19px;

  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 32px;
  margin-top: 16px;

  @include tablet {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 49px 36px 60px;
  }

  @include desktop {
    padding: 25px 109px 36px 119px;
  }
}

.main-footer__copyright {
  @include tablet {
    margin-left: 9px;
  }
}
