.main-form__intro-wrap {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: #dbdbdb;
      height: 95%;
      width: 1px;
      transform: translateX(50%);
      left: 50%;

      @include desktop {
        left: 51%;
      }
    }
  }
}

.main-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 23px;
  margin:0 auto;

  @include tablet {
    padding-top: 0;
    width: 100%;
    max-width: 402px;
    margin-left: 18px;
    font-size: 21px;
    margin-bottom: 31px;
  }

  @include desktop {
    margin-left: 41px;
  }
}

.main-form__label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  padding-left: 15px;
  margin-top: -3px;
}

.main-form__input {
  width: 280px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 10px;
  background-color: $inputs-color;
  border: 4px solid $inputs-color;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: inherit;

  &:hover {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: $additional-color-text;
    outline: none;
  }

  @include desktop {
    width: 430px;
  }
}

.main-form__input::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $basic-text;
}

.main-form__button {
  margin-top: 36px;
  width: 280px;

  @include tablet {
    margin-top: 0;
    width: 324px;
    padding-right: 13px;
  }

  @include desktop {
    width: 384px;
  }
}


.main-form__oppinion {
  @include tablet {
    margin-top: 42px;
  }
}

.main-form__button-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 0;
    margin-bottom: 63px;
  }

  @include desktop {
    width: 768px;
    margin: 47px 97px 67px;
  }
}

.main-form__section {
  border: none;
  border-bottom: solid 1px #e5e5e5;
  padding: 24px 20px 18px;

  &--emotions {
    border-bottom: none;
  }

  @include tablet  {
    border-bottom: none;
    border-top: solid 1px #DBDBDB;
    padding: 0;
  }

  @include desktop {
    margin-bottom: 8px;
  }
}

.main-form__rule {
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  font-size: 12px;
  margin-top: 3px;

  @include tablet {
    font-size: 14px;
    padding-top: 19px;
    margin-top: 0;
  }
}

.main-form__name,
.main-form__contacts {
  @include tablet {
    border: none;
  }
}
