.main-header {
  // background-color: @white;
  // display: flex;
  position: relative;

  @include tablet {
    background-color: $additional-color-text;
    display: flex;
  }
}

.main-header__logo {
  margin-left: 67px;
  margin-right: 68px;
  position: absolute;
  z-index: 1;
  left: 0;

  @include tablet {
    z-index: 3;
    left: 224px;
  }

  @include desktop {
    left: 439px;
  }
}
