.modal-error {
  background-color: $additional-color-text;
  position: relative;
  margin: auto;
  width: 320px;
  padding: 44px 42px 35px 39px;
  box-sizing: border-box;

  @include tablet {
    padding: 48px 42px 50px 43px;
    width: 400px;
  }
}

.modal-error__title {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 25px;

  @include tablet {
    font-size: 30px;
    line-height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 22px;
  }
}

.modal-error__discription {
  margin-bottom: 30px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 47px;
  }
}
