.modal-container {
  display: flex;
  position: fixed;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &--error {
    display: none;
  }

  &--success {
    display: none;
  }
}
