

.oppinion__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.oppinion__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.oppinion__label {
  @include tablet {
    width: 280px;
  }
}

.oppinion__wrapper {
  @include tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
}
