

.oppinion__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @include tablet {
    margin: 0 auto;
    font-size: 21px;
  }
}

.oppinion__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-left: 44px;

  @include tablet {
    margin-left: 59px;
  }

  @include desktop {
    margin-left: 62px;
  }
}

.oppinion__label {
  width: 100%;
  margin-bottom: 36px;
  position: relative;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    width: 280px;

    &:not(:nth-child(2)) {
      margin-right: 16px;
    }
  }

  @include desktop {
    width: 280px;
    margin-right: 28px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.oppinion__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px 17px;

  @include tablet {
    padding: 38px 24px 11px 36px;
  }

  @include desktop {
    padding: 54px 0 1px 50px;
  }
}

.oppinion__radio {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: $inputs-color;
  border-radius: 50%;
  left: -16px;
  top: -10px;
  margin-right: 16px;

  @include tablet {
    left: 0;
  }
}

.oppinion__input:checked + .oppinion__radio::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: $secondary-text;
  border-radius: 50%;
  content: "";
  transition: width 0.3s, height 0.3s;
}

.oppinion__label:active  .oppinion__radio::before {
  opacity: 20%;
}

.oppinion__label:hover .oppinion__radio {
  background-color: $decoration-color;
}
.oppinion__label:active .oppinion__radio {
  background-color: #d5d5d5;
}
