.page {
  @include desktop {
    background-color: $inputs-color;
  }
}
.page__body {
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: $additional-color-text;
  color: $basic-text;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
    box-shadow: 0 4px 4px 0 rgba($basic-text, 0.25);
  }
}

.page__wrapper  {
  @include tablet {
    padding: 0 60px;
  }
}

.page__wrapper-video {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;

  @include tablet {
    margin-top: 59px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
  }

  @include desktop {
    margin-top: 62px;
    margin-left: 200px;
    margin-right: 200px;
  }
}
