.review__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;

  @include tablet {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.review__discription {
  text-transform: uppercase;
  width: 100%;
  max-width: 435px;

  @include tablet {
    width: 100%;
    max-width: 435px;
    line-height: 24px;
  }
}

.review {
  border-bottom: solid 1px #e5e5e5;

  @include tablet {
    padding: 64px 166px 102px;
    border: none;
  }
}
