.sights {
  list-style-type: none;
}

.sights__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sights__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.sights__label {
  width: 100%;

  @include tablet {
   width: 280px;
  }
}

.sights__wrapper {
    display: flex;
    flex-wrap: wrap;
}
